{
    "processors": [
        "stylelint-processor-styled-components"
    ],
    "extends": [
        "stylelint-config-recommended",
        "stylelint-config-styled-components"
    ],
    "rules": {
        "declaration-no-important": true,
        "number-leading-zero": "never",
        "comment-empty-line-before": "always",
        "value-no-vendor-prefix": null,
        "selector-no-vendor-prefix": true,
        "selector-pseudo-element-colon-notation": "single",
        "indentation": [
            4,
            {
                "baseIndentLevel": 1
            }
        ]
    }
}